<%- include("partials/header") -%>
<body>
  <div class="container">
    <h1>Home</h1>
    <p><%= homeStartingContent %></p>
    <% posts.forEach(post =>{%>
    <h2><%= post.title %></h2>
    <p>
      <%= post.content.slice(0, 100) %>
      <a href="/posts/<%= post.title %>">...Read more</a>
    </p>
    <%})%>
  </div>
</body>
<%- include("partials/footer") -%>
